<div class="block bg-condition condition-block left-variable-block right-variable-block">
    <div class="clearfix">
        {{view App.LeftVariableView}}
        <p class="operator-text">&lt;</p>
        {{view App.RightVariableView}}
    </div>
</div>