<div class="panel panel-default">
<div class="panel-heading">
  <i class="fa fa-th-list fa-fw"></i> Block Library
</div>
<!-- /.panel-heading -->
<div class="panel-body">
  {{view 'view.libraryView'}}
</div>
<!-- /.panel-body -->
</div>