<div class="panel panel-default">
<div class="panel-heading">
  <i class="fa fa-th-list fa-fw"></i> Blocks
</div>
<!-- /.panel-heading -->
<div class="panel-body">
  <div class="list-group">
  </div>
  <!-- /.list-group -->
</div>
<!-- /.panel-body -->
</div>