<div class="panel panel-default">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#">Sprites</a>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div id="white-space"></div>
      </div>
      <!-- /.panel-body -->
    </li>
    <li>
      <a href="#">Backgrounds</a>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div id="white-space"></div>
      </div>
      <!-- /.panel-body -->
    </li>
  </ul>
</div>