<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Team 07</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li><a><i class="fa fa-save fa-fw"></i></a></li>
            <li><a><i class="fa fa-play fa-fw"></i></a></li>
            <li><a><i class="fa fa-stop fa-fw"></i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <button type="button" id="googleLogin" class="btn btn-sm btn-danger" {{bind-attr disabled='isLoggedIn'}} {{action 'login'}}> Google Login</button>
        </ul>
    </div>
</nav>