<div class="panel panel-default">
<div class="panel-heading">
  <i class="fa fa-file-code-o fa-fw"></i> Script Area
</div>
<!-- /.panel-heading -->
<div class="panel-body">
  <div class="script-area-container">
    {{view 'view.scriptListView'}}
  </div>
</div>
</div>