<div class="block bg-danger variable-block left-variable-block right-variable-block">
    <div class="clearfix">
        {{view App.LeftVariableView}}
        <p class="operator-text">%</p>
        {{view App.RightVariableView}}
    </div>
</div>