<div class="block bg-danger variable-block">
    generate random between 
    <input type="text" size="3" maxlength="3" placeholder="0" value="{{unbound setting}}"/> 
    to
    <input type="text" size="3" maxlength="3" placeholder="0" value="{{unbound setting}}"/> 
</div>