<div class="block bg-danger variable-block left-variable-block right-variable-block clearfix">
    <p class="block-text">generate random from</p>
    {{view App.LeftVariableView}}
    <p class="block-text">to</p>
    {{view App.RightVariableView}}
</div>