<div class="bg-danger variable-block">
    <div class="clearfix">
        {{view App.LeftVariableView}}
        <p style="float:left;margin:0 .25em">-</p>
        {{view App.RightVariableView}}
    </div>
</div>