<div class="bg-info if-block control-block">
    <div class="clearfix">
        <p style="float:left;width:10px;margin-top:3px">if</p> {{view App.ConditionView}} <p style="float:left;margin-top:3px">then</p>
    </div>
    {{view App.ChildScriptView}}
</div>