<div class="block bg-info if-block control-block">
    <div class="clearfix">
        <p class="block-pre">if</p>
        {{view App.ConditionView}}
        <p class="block-pad">then</p>
    </div>
    {{view App.ChildScriptView}}
</div>