<div class="block bg-info num-variable-block control-block">
    <p class="block-text">repeat</p> {{view App.NumberVariableView}} <p class="block-text">times</p>
    {{view App.ChildScriptView}}
</div>