#wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
}
#page-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
}
.navbar-nav {
    margin-top: .65em;
    margin-right: 0 !important;
}
.background-library, .sprite-library, .block-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.background-library li, .sprite-library li {
    float: left;
    margin: 0.85em;
}
.background-library li a {
    display: block;
    width: 64px;
    height: 64px;
}
.background-library li .is-selected {
    border: 4px solid #ff9900;
    padding: 10px;
}
.block-list li {
    margin: .5em;
    z-index: 10;
}
.block {
    padding: 4px 12px;
    font-size: 13px;
    color: #fff;
    min-height: 28px;
    width: auto;
    border-radius: 4px;
    cursor: move;
}
.block p {
    margin: 0;
}
.block-list li .variable {
    border-radius: 12px;
}
.block-list li .if-block {
    min-height: 32px;
}
.block input {
    font-size: 12px;
    border-radius: 4px;
    color: #111;
    padding: 1px;
    border: none;
}
.block select {
    color: #111;
}
.block input[disabled] {
    opacity: 0.5;
}
.block .bg-warning {
    height: 45px;
}
.ui-draggable-dragging {
    width: 240px;
    opacity: 0.75;
    list-style: none;
}
.script-area-container {
    min-height: 320px;
    background: #f5f5f5;
    border: 2px dashed #e5e5e5;
}
.script-area {
    min-height: 300px;
}
.script-area .ui-state-highlight {
    width: auto;
    height: 28px;
    background: #999;
    border: 1px dashed #e5e5e5;
    opacity: 0.8;
    border-radius: 4px;
}
.script-area .condition-list .ui-state-highlight {
    width: auto;
    height: 24px;
    border-radius: 12px;
}
.script-area .is-playing div {
    box-shadow: 0 0 2px 2px #ff9900;
}
.script-area .control-block {
    height: auto;
}
.script-area .control-list {
    margin: .5em 0;
    min-height: 28px;
    border: 2px dashed #e5e5e5;
    background: #ccc;
    border-radius: 4px;
}
.script-area-container .block-list li > div {
    width: auto;
}
.sprite-library li a {
    display: block;
    width: 64px;
    height: 64px;
    padding: 4px;
}
.sprite-library li .is-selected {
    border: 4px solid #ff9900;
    padding: 0;
}
.sprite-library li img {
    margin: 2px 10px;
}
.condition-list {
    float: left;
    margin: 0 .5em;
    padding: 0;
    border: 2px dashed #ccc;
    background: #fff;
    width: 75%;
    min-height: 24px;
    border-radius: 14px;
    list-style: none;
}
.script-area .condition-list {
    width: 82%;
}
.condition-list li {
    padding: 0;
    margin: 0;
}
.block-tabs {
    font-size: 95%;
}
.condition-block {
    width: auto;
    border-radius: 12px;
}
.block-pre {
    float: left;
    margin-top: 3px;
    min-width: 12px;
}
.block .block-text {
    float: left;
    margin: 6px 3px;
}
.script-area .block .block-text {
    float: none;
    margin: 0 3px 3px;
    padding: 0;
}
.block-pad {
    float: right;
    margin: 3px 0 0 3px;
    min-width: 12px;
}
.bg-condition {
    background: #6f5499;
}
.block-list li .variable-list:first-child {
    margin-left: 0;
}
.variable-list {
    float: left;
    list-style: none;
    margin: 0 .5em;
    padding: 0;
    border: 2px dashed #333;
    border-radius: 4px;
    background: #666;
    min-width: 24px;
    min-height: 28px;
}
.variable-list li {
    margin: 0;
}
.script-area .variable-list {
    float: none;
    margin: 0;
}
.script-area .variable-list .ui-state-highlight {
    width: auto;
    border-radius: 4px;
}
.block .operator-text {
    float: left;
    margin: 0 .1em;
}
.num-variable-list {
    width: 50%;
}
.script-area .num-variable-list {
    width: 100%;
}
.num-variable-list input {
    width: 90%;
}
.script-area .block .operator-text {
    float: none;
}